
@using WebsiteBuilder.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    header {
        background-color: black !important;
    }
</style>

<section class="w3l-bottom-grids-6 py-5" style="margin-top:50px;margin-bottom:50px;">
    <div class="container py-lg-5 py-md-4">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-12 features-lefthny">
                <div class="card text-center p-5">

                    <div class="card-body">
                        <h5 class="card-title text-dark"><strong>congratulations! Welcome to Our family</strong></h5>
                        <p class="card-text">Establish your online identity effortlessly with just a few clicks! </p>
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Dashboard" asp-action="Index" class="btn btn-primary mt-3 mb-3">Go to Admin</a>
                        }
                        </div>

                </div>
            </div>
        </div>
    </div>
</section>


