@model WebsiteBuilder.ViewModels.WebsiteNUserViewModel

@{

    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<link href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />





<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card p-4">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                          
                            
                            <th>User Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.User)
                        {
                            <tr>
                               
                                
                                <td>@item.Email</td>
                                <td>

                                    <a asp-action="Delete" asp-route-id="@item.WebsiteId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script>
    new DataTable('#example');
</script>