<!doctype html>
<html lang="en">

<head>
    <title>Creative Maitra Digital Card</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="HexaBit Bootstrap 4x Admin Template">
    <meta name="author" content="WrapTheme, www.thememakker.com">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/Theme/admin/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Theme/admin/assets/vendor/font-awesome/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Theme/admin/assets/css/main.css">
    <link rel="stylesheet" href="~/Theme/admin/assets/css/color_skins.css">
</head>

<body class="theme-orange">
    <!-- WRAPPER -->
    @RenderBody()
    <!-- END WRAPPER -->

    <script src="~/Theme/admin/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/Theme/admin/assets/bundles/vendorscripts.bundle.js"></script>

    <script src="~/Theme/admin/assets/bundles/mainscripts.bundle.js"></script>


</body>
</html>
