<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create A One Page Webasite</title>
    <!--/google-fonts-->
    <link href="//fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,300;1,500&display=swap"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap" rel="stylesheet">
    <!--//google-fonts-->
    <!-- Template CSS -->
  

</head>

<body>
    <!--header-->
   
    <!--/header-->
    @RenderBody()
    <!-- footer -->
   

</body>

</html>