@model WebsiteBuilder.ViewModels.ChangePasswordViewModel 


<section class="w3l-servicesblock py-5">
    <div class=" container py-lg-5 py-md-3">
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="ChangePassword" method="post">
                    <div class="form-group">
                        <label for="CurrentPassword">Current Password</label>
                        <input type="password" class="form-control" id="CurrentPassword" name="CurrentPassword" />
                    </div>
                    <div class="form-group">
                        <label for="NewPassword">New Password</label>
                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" />
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">Confirm New Password</label>
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" />
                    </div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</section>


