

<div class="container" style="margin:100px">
    <div class="row">
        <div class="col-12">
            <div class="card p-4">
                <h4 class="text-dark">EmailNotFound</h4>
            </div>
        </div>
    </div>
</div>