@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@using WebsiteBuilder.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@using System.Security.Claims



<div class="container" style="margin-top:150px;">
    <div class="row">
        <div class="col-12">
            <div class="card p-4">
                <div class="mt-md-5 mt-4 mb-lg-0 mb-4">

                    @if (User.Identity.IsAuthenticated)
                    {


                        <a class="btn btn-primary btn-style" asp-controller="Website" asp-action="Create">Make Your Card</a>
                        


                    }
                    else
                    {
                        <a asp-controller="User" asp-action="LogIn" class="btn btn-style btn-white mr-lg-4 mr-sm-3">Sign In</a>
                        <a class="btn btn-primary btn-style" asp-controller="User" asp-action="Register">Register Now</a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


@if (User.Identity.IsAuthenticated)
{
    <form method="post" asp-action="Logout" asp-controller="Account">
        @Html.AntiForgeryToken()
        <button type="submit" onclick="showAlert('This is an Alertify alert!')">Logout</button>
    </form>

}



<script>
    var serverMessage = "@ViewData["Message"]";
    if (serverMessage) {
        showAlert(serverMessage);
    }
</script>

<script>
     var serverMessage = "@ViewData["Message"]";
    if (serverMessage) {
        showAlert(serverMessage);
    }
    function showAlert(serverMessage) {
        Swal.fire({
            icon: 'info',
            title: 'Alert',
            text: serverMessage
        });
    }
</script>
