@model WebsiteBuilder.Models.Seo


<title>@Model.SeoTitle</title>
<meta name="description" content="SIMĀNA – The Urban Oasis, Premium residential project in Parel. Bhoomi Properties presents SIMĀNA, a premium residential project in south mumbai. 2,3,4,5 BHK Luxurious apartment in the heart of South Mumbai by SIMĀNA – The Urban Oasis from Bhoomi Properties">
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<link rel="canonical" href="https://simana-bhoomi.com/" />
<meta charset="utf-8">
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="The Urban Oasis, Premium Residential Project in Parel" />
<meta property="og:description" content="2,3,4,5 BHK Luxurious apartment in the heart of South Mumbai by SIMĀNA – The Urban Oasis from Bhoomi Properties" />
<meta property="og:url" content="https://simana-bhoomi.com/" />
<meta property="og:site_name" content="SIMĀNA – The Urban Oasis" />
<meta property="article:modified_time" content="2024-02-15T04:58:08+00:00" />
<meta property="og:image" content="https://simana-bhoomi.com/images/luxurious-apartment-in-the-heart-of-south-mumbai-by-simana.jpg" />
<meta property="og:image:width" content="1600" />
<meta property="og:image:height" content="900" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="https://simana-bhoomi.com/images/luxurious-apartment-in-the-heart-of-south-mumbai-by-simana.jpg" />


<!-- Open Graph Meta Tags for Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://simana-bhoomi.com/">
<meta property="og:title" content="SIMĀNA – The Urban Oasis, Premium Residential Project in Parel">
<meta property="og:description" content="SIMĀNA – The Urban Oasis, Premium residential project in Parel. Bhoomi Properties presents SIMĀNA, a premium residential project in south mumbai. 2,3,4,5 BHK Luxurious apartment in the heart of South Mumbai by SIMĀNA – The Urban Oasis from Bhoomi Properties">
<meta property="og:image" content="https://simana-bhoomi.com/images/luxurious-apartment-in-the-heart-of-south-mumbai-by-simana.jpg"> <!-- URL to the image you want to display -->
<meta property="og:image:width" content="1200"> <!-- Width of the image in pixels -->
<meta property="og:image:height" content="630"> <!-- Height of the image in pixels -->
<meta property="og:image:alt" content="2,3,4,5 BHK Luxurious apartment in the heart of South Mumbai by SIMĀNA – The Urban Oasis from Bhoomi Properties"> <!-- Alternate text for the image -->
<meta property="og:locale" content="en_US"> <!-- Locale of the content -->
<meta property="og:site_name" content="https://simana-bhoomi.com/"> <!-- Name of your website -->
<!-- Open Graph Meta Tags for Instagram -->
<meta property="og:instagram:caption" content="SIMĀNA – The Urban Oasis, Premium Residential Project in Parel">
<meta property="og:instagram:url" content="https://www.instagram.com/simana_bhoomi/reel/C3cEkSAPyQ8/">
<meta property="og:instagram:media" content="https://simana-bhoomi.com/images/luxurious-apartment-in-the-heart-of-south-mumbai-by-simana.jpg"> <!-- URL to the image you want to display -->
<meta property="og:instagram:media_type" content="image">

<meta name="author" content="SIMĀNA">