@model List<WebsiteBuilder.Models.AboutUs>

@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}


<ul>
    @foreach (var slider in Model)
    {
        <li>@slider.AboutName</li>

        <li><img src="@slider.AboutImage" height="200" width="200" /></li>
    }
</ul>
